name: Release

on:
  workflow_dispatch:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"

jobs:
  build:
    uses: ./.github/workflows/build.yml
    with:
      LOG_ON_GP01: false
      BOOTSEL_BUTTON: false

  release:
    runs-on: ubuntu-latest
    needs: [build]
    permissions:
      contents: write
    steps:
      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts
          merge-multiple: true

      - name: Normalize firmware names
        run: |
          ls -l artifacts/
          mv \
            artifacts/picoports*.uf2 \
            artifacts/picoports_${{github.ref_name}}.uf2
          ls -l artifacts/

      - name: Create Release
        if: ${{ github.event_name != 'workflow_dispatch' }}
        uses: softprops/action-gh-release@v2
        with:
          body: |
            See: [Usage](https://github.com/sevenlab-de/picoports/blob/${{github.ref_name}}/README.md#usage)
          files:
            artifacts/picoports_${{github.ref_name}}.uf2
